<li [ngClass]="{'list-group-item': true,
    'list-group-item-success': post.loveIts > 0,
    'list-group-item-danger': post.loveIts < 0}">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{ post.title }}</h5>
    <small>{{ post.createdAt | date: 'short' }}</small>
  </div>
  <p class="mb-1">{{ post.content }}</p>
  <small class="btn-group">
    <button type="button" class="btn btn-success" (click)="post.loveIt()">love it!</button>
    <button type="button" class="btn btn-danger" (click)="post.dontLoveIt()">don't love it</button>
  </small>
</li>
